* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  
}

header {
  height: 70px;
  width: 400px;
  background-color: darkcyan;
  position: fixed;
  bottom: 2%;
  left: 40%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 0.3;
  z-index: 100;
}
header:hover{
  opacity: 1;
  transition: 0.6s ease;
}
header nav{
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav a img{
  width: 50px;
  transition: 0.4s ease;
  
}

header nav a img:hover{
  width: 70px;
 
}
main{
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.landingpage{
 height: 100vh;
 background-image: url(./images/1.jpg);
 background-position: center;
 background-size:cover;
 background-repeat: no-repeat;
 scroll-snap-align: start;

 /* padding: 10%; */
/*  width: 100%;
 */}


/* header a img{
  width: 30%;
  margin-left: 35%;
} */
.landingpage hr{
  border: solid 5px white;
  border-radius: 5px;
  width: 20%;
  height: 1%;
}

.landingpage h1{
  padding-top: 2.5rem;
  font-size:5rem ;
  color: white;
  letter-spacing: 5rem;
  text-align: center;
/* 4 */
}
.landingpage h3{
  text-align: center;
  font-size:1em ;
  color: white;
  letter-spacing: 1rem;
}

/* second page */

.second{
  height: 100vh;
  background-image: url(./images/2.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
  font-size: 1em;
  scroll-snap-align: start;
}

/* .secondpagecontent{
  height: 50%;
  width: 70%;
  position: relative;
  bottom: 1%;
  right: 5%;
  left: 5%;
  top: 20%;
  display: flex;
  border: solid 2px red; 
} */

.second > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 5px black;
  padding: 2%;
}
.second .child3{
  border: none;
}
.icon{
  width: 15%;
  margin-bottom: 10%;
}
.second div p{
  text-align: center;
  margin-top: 10%;
  max-width: 15em;  
}

/* third page */

.aboutus {
  height: 100vh;
  background-image: url(./images/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  scroll-snap-align: start;
  padding-bottom: 10%;
}

.aboutus-container {
  width: 50%;
  position: relative;
  left: 37%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1.title_about {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 1.6rem;
}

.aboutus-container > p {
  padding-top: 3rem;
}

p.aboutus_paragraphs {
  max-width: 250px;
  font-size: 0.9rem;
}
.second_paragraph {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 5%;
  left: 1%;
  height: 29%;
  max-width: 250px;
}

.second_paragraph > p {
  text-align: justify;
  max-width: 190px;
}

/* fifth Page */

.page-five{
  height: 100vh;
  background-image: url(./Backgrounds/5.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  scroll-snap-align: start;
}

/* .image-five {
  background-image: url(./5.jpg);
  background-size: cover;
  height: 60vh;
} */


.column {
   float: left;
   width: 33.33%;
}

.page-five h1{
   position: relative;
   left: 70%;
   bottom: 72%;
   width: 5ch;
   font: 4em sans-serif;
   letter-spacing: 0.4em
}

.page-five p {
   position: relative;
   left: 70%;
   bottom: 45%;
   width: 30ch;
}


.page-six {
   margin-inline: 10%;
}

/* change margin here */
.six-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.six-header h1{
   font-size: 3rem;
   font-family: arial;
   font-weight: 100;
   letter-spacing: 0.4em;
}


.small-line {
   width: 15rem;
   height: 1px;
   background-color: rgb(69, 69, 69);
}

hr {
   width: 15rem;
   height: 1px;
   border: none;
   background-color: rgb(69, 69, 69);
}

.six-main {
   display: flex;
   justify-content: space-evenly;
}

.six-box {
   aspect-ratio: 1/1;
   height: 15rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border: black solid 1px;
}

.six-text {
   width: 15rem;
   justify-content: center;
   align-items: center;
}

/* sixth page */

.page-six{
  height: 100vh;
  scroll-snap-align: start;
/*   width: 100%;
 */}

/* 7 page */
.seventh-page{
  height: 100vh;
  background-color: white;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
}

.bigtext{
  position: absolute;
  top: 15%;
  left: 9%;
  font-size: 450%;
  letter-spacing: 2.5rem;
  font-weight: lighter;


}

.boxsmalltext1{
  position: absolute;
  top: 35%;
  left: 9%;
  width: 15%;
  font-size: 85%;
  line-height: 140%;



}

.boxsmalltext2{
  position: absolute;
  top: 53%;
  left: 9%;
  width: 15%;
  font-size: 85%;
  line-height: 140%;


}

.oooo{
  position: absolute;
  width: 14.3%;
  top: 77.4%;
  left: 8%;



}

.percs{
  position: absolute;
  top: 77%;
  left: 23.7%;
  width: 30%;
  font-size: 75%;
  line-height: 250%;
  float: left
}

.boxsmalltext3{
  position: absolute;
  top: 80%;
  left: 34%;
  width: 20%;
  font-size: 85%;


}

.baum{
  position: relative;
  right:0;
  bottom: 0;
  left:56%;

  
}

.line1 {
  position: absolute;
  top: 29%;
  width: 7%;
  top: 35.5%;
  left: 0%;
  height: 1px;
  background-color: #000;
}

.line2 {
  position: absolute;
  top: 29%;
  width: 7%;
  top: 53.5%;
  left: 0%;
  height: 1px;
  background-color: #000;
}

.line3 {
  position: absolute;
  top: 29%;
  width: 1px;
  top: 77%;
  left: 4%;
  height: 13%;
  background-color: #000;
}

.line4 {
  position: absolute;
  width: 7%;
  top: 80.5%;
  left: 26%;
  height: 1px;
  background-color: #000;
}

.line5 {
  position: absolute;
  top: 13%;
  width: 1px;
  left: 58%;
  height: 90.5%;
  transform: rotate(11.4deg);
  background-color: #000;
  overflow: hidden;
  
  

}

/* 8 page */

.eights-page{
  height: 100vh;
  background-color: rgb(255, 255, 255);
  scroll-snap-align: start;
  }

.bigtext2{
  position: relative;
  top: 16%;
  font-size: 400%;
  letter-spacing: 2rem;
  text-align: center;
}

.line11 {
  position: relative;
  top: 10%;
  height: 1px;
  width: 17%;
  left: 10%;
  background-color: #000;
  }

.line12 {
  position: relative;
  width: 19%;        
  top: 10%;
  bottom: 0;
  left: 70%;
  height: 1px;
  background-color: #000;
}

.rinesboxes123 {
  display: flex;
  justify-content: space-around;
}

.rinesbox {
  width: 18%;
  height: 25rem;
  padding: 20px;
  text-align: center;
  position: relative;
  top: 15rem;
}

.rinesbox form {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.similar {
  background-color: hsl(230, 27%, 64%);
}

.different {
  background-color: white;
  border: 1px solid black;
}

.LOREMS555{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 220%;
  font-weight: lighter;
  
}

.square-button {
  width: 90%; 
  height: 4rem;
  font-size: 0.85rem;
  font-weight: lighter;
}

.FONT555 {
  font-family: ar;
  font-weight: lighter;
}

/*lastpage*/
.lastpage{
  background-image: url(https://media.discordapp.net/attachments/1149254631814344705/1152256660295917618/32.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;

  }
  
  .lastpage h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 10%;
  }
  
  .lastpage p {
    font-size: 1em;
    text-align: center;
    color: #777;
    margin-top: 9%;
  }
  
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 2%;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 50%;
    padding: 2% 5%;
    margin-left: 22%;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
  }
  
  input[type="submit"] {
    background-color: rgb(108, 179, 143);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 2% 5%;
    margin-left: 38%;
    font-size: 2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #1e422d;
  }
  