* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  
}

header {
  height: 70px;
  width: 400px;
  background-color: darkcyan;
  position: fixed;
  bottom: 2%;
  left: 40%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 0.3;
  z-index: 100;
}
header:hover{
  opacity: 1;
  transition: 0.6s ease;
}
header nav{
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav a img{
  width: 50px;
  transition: 0.4s ease;
  
}

header nav a img:hover{
  width: 70px;
 
}
main{
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.landingpage{
 height: 100vh;
 background-image: url(./images/1.jpg);
 background-position: center;
 background-size:cover;
 background-repeat: no-repeat;
 scroll-snap-align: start;

 /* padding: 10%; */
/*  width: 100%;
 */}


/* header a img{
  width: 30%;
  margin-left: 35%;
} */
.landingpage hr{
  border: solid 5px white;
  border-radius: 5px;
  width: 20%;
  height: 1%;
}

.landingpage h1{
  padding-top: 2.5rem;
  font-size:5rem ;
  color: white;
  letter-spacing: 5rem;
  text-align: center;
/* 4 */
}
.landingpage h3{
  text-align: center;
  font-size:1em ;
  color: white;
  letter-spacing: 1rem;
}

/* second page */

.second{
  height: 100vh;
  background-image: url(./images/2.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
  font-size: 1em;
  scroll-snap-align: start;
}

/* .secondpagecontent{
  height: 50%;
  width: 70%;
  position: relative;
  bottom: 1%;
  right: 5%;
  left: 5%;
  top: 20%;
  display: flex;
  border: solid 2px red; 
} */

.second > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 5px black;
  padding: 2%;
}
.second .child3{
  border: none;
}
.icon{
  width: 15%;
  margin-bottom: 10%;
}
.second div p{
  text-align: center;
  margin-top: 10%;
  max-width: 15em;  
}

/* third page */

.aboutus {
  height: 100vh;
  background-image: url(./images/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  scroll-snap-align: start;
  padding-bottom: 10%;
}

.aboutus-container {
  width: 50%;
  position: relative;
  left: 37%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1.title_about {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 1.6rem;
}

.aboutus-container > p {
  padding-top: 3rem;
}

p.aboutus_paragraphs {
  max-width: 250px;
  font-size: 0.9rem;
}
.second_paragraph {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 5%;
  left: 1%;
  height: 29%;
  max-width: 250px;
}

.second_paragraph > p {
  text-align: justify;
  max-width: 190px;
}

/* fifth Page */

.page-five{
  height: 100vh;
  background-image: url(./Backgrounds/5.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  scroll-snap-align: start;
}

/* .image-five {
  background-image: url(./5.jpg);
  background-size: cover;
  height: 60vh;
} */


.column {
   float: left;
   width: 33.33%;
}

.page-five h1{
   position: relative;
   left: 70%;
   bottom: 72%;
   width: 5ch;
   font: 4em sans-serif;
   letter-spacing: 0.4em
}

.page-five p {
   position: relative;
   left: 70%;
   bottom: 45%;
   width: 30ch;
}


.page-six {
   margin-inline: 10%;
}

/* change margin here */
.six-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.six-header h1{
   font-size: 3rem;
   font-family: arial;
   font-weight: 100;
   letter-spacing: 0.4em;
}


.small-line {
   width: 15rem;
   height: 1px;
   background-color: rgb(69, 69, 69);
}

hr {
   width: 15rem;
   height: 1px;
   border: none;
   background-color: rgb(69, 69, 69);
}

.six-main {
   display: flex;
   justify-content: space-evenly;
}

.six-box {
   aspect-ratio: 1/1;
   height: 15rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border: black solid 1px;
}

.six-text {
   width: 15rem;
   justify-content: center;
   align-items: center;
}

/* sixth page */

.page-six{
  height: 100vh;
  scroll-snap-align: start;
/*   width: 100%;
 */}

/* 7 page */

.seventh-page{
  height: 100vh;
  background-color: rgb(255, 255, 255);
  scroll-snap-align: start;
  background-image: url(https://media.discordapp.net/attachments/1153342560392200225/1153401944124178572/03-18-fteverest_01.jpg.webp?width=1664&height=936);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  }



.bigtext2{
  position: relative;
  top: 16%;
  font-size: 400%;
  letter-spacing: 2rem;
  text-align: center;
}

.line11 {
  position: relative;
  top: 12%;
  height: 1px;
  width: 14%;
  left: 10%;
  background-color: #ff7801;
}

.line12 {
  position: relative;
  width: 14%;        
  top: 12%;
  bottom: 0;
  left: 74.1%;
  height: 1px;
  background-color: #ff7801;
}

.rinesboxes123 {
  display: flex;
  justify-content: space-around;
}

.rinesbox {
  width: 18%;
  height: 40rem;
  text-align: space-around;
  position: relative;
  top: 15rem;
}

.rinesbox form {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.leftformy {
  background-image: url(https://media.discordapp.net/attachments/1153342560392200225/1153342613026525246/eve2.jpg?width=630&height=936);
  background-size: cover;
}

.rightformy {
  background-image: url(https://media.discordapp.net/attachments/1153342560392200225/1153342612758077551/eve3.jpg?width=630&height=936);
  background-size: cover;
}

.different {
  background-image: url(https://media.discordapp.net/attachments/1153342560392200225/1153342612468674642/eve1.jpg?width=630&height=936);
  background-size: cover;
  
}

.LOREMS555{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 220%;
  font-weight: lighter;
}

.LOREMS525{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 220%;
    font-weight: lighter;
}

.square-button {
  width: 90%; 
  font: Arial, Helvetica, sans-serif;
  height: 4rem;
  font-size: 0.85rem;
  font-weight: lighter;
  background-color: rgb(248, 248, 248);
}

.butin {
position: relative;
width: 0.3rem;
height: 0.3rem;
}
/* 8 page */ 


.eighth-page{
  height: 100vh;
  background-color: white;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
   width: 100%;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
}

.bigtext{
  position: absolute;
  top: 9%;
  left: 15%;
  font-size: 279%;
  letter-spacing: 1.5rem;
  font-weight: bold;
  

}
  .boxsmalltext4{
    position: absolute;
    top: 33%;
    left: 9%;
    width: 15%;
    font-size: 85%;
    line-height: 140%;

}

.boxsmalltext3{
  position: relative;
  top: 17%;
  left: 15%;
  width: 45%;
  font-size: 105%;
  line-height: 140%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff7801;
}

.boxsmalltext1{
  position: absolute;
  top: 75%;
  left: 9%;
  width: 15%;
  font-size: 85%;
  line-height: 140%;


}

.boxsmalltext2{
  position: absolute;
  top: 53%;
  left: 9%;
  width: 15%;
  font-size: 85%;
  line-height: 140%;


}


.baum{
  position: absolute;
  right: 0;
  bottom: -3%;
  left: 30%;
  width: 80%;
}

.line1 {
  position: absolute;
  top: 34%;
  width: 52%;
  top: 39.5%;
  left: 25%;
  height: 1px;
  background-color: #ff7801;
}

.line2 {
  position: absolute;
  top: 29%;
  width: 49%;
  top: 83.5%;
  left: 25%;
  height: 1px;
  background-color: #ff7801;
}

.line3 {
  position: absolute;
  width: 1px;
  top: 24%;
  left: 4.5%;
  height: 13%;
  background-color: #ff7801
}

.line4 {
  position: absolute;
  width: 50%;
  top: 55.5%;
  left: 25%;
  height: 1px;
  background-color: #ff7801;
}

.butin3{
  position: relative;
  left: 1.7%;
  top: 6%;
  bottom: -1.5rem;
}

.bigtextprice {
  position: absolute;
  top: 55%;
  left: -4.5%;
  font-size: 230%;
  letter-spacing: 1rem;
  font-weight: lighter;
  stroke: 3%;
  transform: rotate(90deg)
}
  /*payment*/
  body {
    font-family: Arial, sans-serif;
    background-image: url(images/img232.webp);
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.container {
    
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*lastpage*/

.lastpage{
  background-image: url(images/img3232.webp);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .lpcontainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
  }
  .lastpage h1 {
    
    font-size: 3em;
    color: #1e422d;
    margin-bottom: 5%;
  }
  
  .lastpage p {
    font-size: 1.5em;
    color: #9bb409;
  }
  .subscribeform{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .namesubmit {
    display: block;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 35%;
    padding: 2% 5%;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
  }
  
  input[type="submit"] {
    background-color: rgb(108, 179, 143);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 2% 3%;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #1e422d;
  }
  