* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    font-size: 1.3rem;
    background-color: rgb(0, 110, 255);
    border-radius: 25px;
    margin: auto;
    margin-top: 15px;
    width: 1000px;
}

.logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform:uppercase;
}

.navLinks {
    color: white;
}

.navLinks li {
    display: inline-block;
    padding: 0px 15px;
    font-size: 1.6rem;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: white;
}

.navLinks li a:hover {
    background-color: rgb(94, 163, 253);
    border-radius: 25px;
}

.mainArticle {
    color: black;
    width: 800px;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 40%;
    border-style:solid;
    border-radius: 25px;
    border-width: 5px;
    border-color: rgb(193, 223, 243);
    background-color: rgb(193, 223, 243);
  }

  .mainArticle p {
    padding: 20px 10px 20px 10px;
  }
  .mainArticle h2 {
    padding: 15px;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.left img {
    max-width: 100%;
    height: auto;
}

.right {
    flex: 1;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db; 
    color: #fff; 
    margin-top: 20px;
   
}

.button:hover {
    background-color: #2980b9; 
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 30px;
    
}

button{
    font-size: larger;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aquamarine;
    align-items: center;
    margin: 50px;
