body{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 30px;
    
}

button{
    font-size: larger;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aquamarine;
    align-items: center;
    margin: 50px;
}