
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.left img {
    max-width: 100%;
    height: auto;
}

.right {
    flex: 1;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db; 
    color: #fff; 
    margin-top: 20px;
   
}

.button:hover {
    background-color: #2980b9; 
}


