.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.953rem;
}

.contact-form p {
    max-width: 50%;
}

.contact-form fieldset {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 2%;
    min-width: 400px;
    max-width: 750px;
}

.contact-form fieldset input {
    margin: 2%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.contact-form fieldset button {
    margin: 2%;
    padding: 2%;
}

.contact-form fieldset button:hover {
 background-color: red;
}
