* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /*all styling which is consistent among all buttons is collected here  */
  button {
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    font-size: 1.563rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.4em 1em;
    color: white;
}

button:hover {
  cursor: pointer;
  }

  /* all general fontsize and font- family information is here */
.mainsize {
    font-size: 1.5rem;  
    margin: 10px;
}

.bold {
    font-weight: 900;
}
h2  {
  text-align: left; 
  font-size: 56px;
  margin: 10px 0;
  font-weight: 600;
}

/* font-colors */
  .turquois {
    color: #7abbb9;
}
 .white {
    color: white;
 }

h1, h2, h3, h4, p, a, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* first section with hero image and order button  */
.top{
  background-image: url("./Place_Your_Image_Her.png");
  background-size:cover;
  background-repeat:no-repeat;
  width: 100%;
}

.topflex{
display: flex;
flex-direction: column;
padding: 5rem 2rem;
width: 55%;
min-width: 350px;
}

.top h1 {
  font-size: 3.052rem;
  margin-bottom: 2rem;
  color: white;
  
}

.top p{
  color: white;

}

.top button {
background-color: #7abbb9;
width: 30%;
margin: 10px;
}